<div class="moviesComponents">

  <div>
    <header>
      <h1 class="d-inline">Reviews for {{ movie.title }}</h1>
      <button class="btn btn-outline-danger d-inline float-right">Delete</button>
    </header>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Review</th>
        <th scope="col">Star Rating</th>
        <th scope="col">Review</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>userName</td>
        <td>rating</td>
        <td>review</td>
      </tr>
    </tbody>
  </table>
</div>
