.full-width-table {
  width: 100%;
}

header h1 {
  display: inline-block;
  margin: 0;
  color: rgb(103, 58, 183);
}

.mat-stroked-button {
  float: right;
  margin: 5px;
}

.mat-table {
  width: 70rem;
  margin: 30px auto;
}

.mat-column-title {
  width: 70%;
}

.mat-raised-button {
  margin: 0 1rem;
}
