<div class="moviesComponents">
  <div class="header-container">
    <div class="shooting-star-wrapper">
      <img src="assets/shooting-star.svg" alt="shooting star" class="shooting-star">
    </div>
    <header>
      <h1 class="page-title">{{ topic }}</h1>
      <p class="page-subtitle">Discover and share your favorite movies</p>
      <a mat-raised-button [routerLink]="['/movies/new']" color="primary" class="add-movie-btn">
        <mat-icon>add_circle</mat-icon>
        Add a new movie
      </a>
    </header>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 movies-table" color="primary">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Movie Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Movie Title</th>
      <td mat-cell *matCellDef="let movie">{{ movie?.title }}</td>
    </ng-container>

    <!-- Available Actions Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Available Actions</th>
      <td mat-cell *matCellDef="let movie">
        <button mat-raised-button color="primary" [routerLink]="movie._id" type="button">
          Read Reviews
        </button>
        <button mat-raised-button color="accent" [routerLink]="['/movies']">
          Write Review
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
